{% extends "Padre.html" %}

{% block title %}
    Hija 2!
{% endblock %}

{% block content %}
    <h3>Estas en la hija dos, estas una cancion de rock que me gustas, me gusta por la bateria, quiero aprender a tocar la bateria
        pero no hay money para comprarme una :/
    </h3>
    <p>Hoy es {{fecha.day}}-{{fecha.month}}-{{fecha.year}}</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/wOuZcW5DPuc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}