<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busqueda Productos</title>
</head>
<body>
    <!-- Con este formulario le pedimos al usuario que nos de el articulo a buscar y lo obtenemos mediante el metodo GET -->
    <form action="/buscar/" method="GET">
        <input type="text" name="Articulo" placeholder="Articulo:" maxlength="20">
        <input type="submit" value="Enviar">
    </form>
</body>
</html>