<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensaje</title>
</head>
<body>
    <!-- Mostrams informacion del mensaje enviado -->
    <h1>Se ha recibido el mensaje</h1>
    <h3>Informacion del mensaje: </h3>
    <p><strong>Asunto:</strong> {{asunto}}</p>
    <p><strong>Email: </strong> {{email}}</p>
    <p><strong>Mensaje: </strong>{{mensaje}}</p>
</body>
</html>